spine/src/main/resources/NASPXMLPackage/Schemas/PRPA_MT090101UK14.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
   <xs:include schemaLocation="../dt/datatypes.xsd"/>
   <xs:include schemaLocation="../voc/voc.xsd"/>
   <xs:annotation>
      <xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   </xs:annotation><!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   <xs:element name="PdsNhsNumberConfirmation" type="PRPA_MT090101UK14.PdsNhsNumberConfirmation"/>
   <xs:complexType name="PRPA_MT090101UK14.PdsNhsNumberConfirmation">
      <xs:sequence>
         <xs:element type="PRPA_MT090101UK14.Subject" minOccurs="1" maxOccurs="1" name="subject"/>
         <xs:element type="PRPA_MT090101UK14.PertinentInformation" minOccurs="1" maxOccurs="1" name="pertinentInformation"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.Subject">
      <xs:sequence>
         <xs:element type="PRPA_MT090101UK14.PatientRole" minOccurs="1" maxOccurs="1" name="patientRole"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="SBJ"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.PatientRole">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element type="PRPA_MT090101UK14.Person" minOccurs="0" maxOccurs="1" name="patientPerson"/>
         <xs:element type="PRPA_MT090101UK14.Subject2" minOccurs="0" maxOccurs="1" name="subjectOf2"/>
         <xs:element type="PRPA_MT090101UK14.Subject3" minOccurs="0" maxOccurs="unbounded" name="subjectOf1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Patient"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="PAT"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.Person">
      <xs:sequence>
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="administrativeGenderCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="PRPA_MT090101UK14.OtherProviderPatient" minOccurs="0" maxOccurs="unbounded" name="playedOtherProviderPatient"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Person"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.OtherProviderPatient">
      <xs:sequence>
         <xs:element type="PRPA_MT090101UK14.Subject5" minOccurs="1" maxOccurs="1" name="subjectOf"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Patient"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="PAT"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.Subject5">
      <xs:sequence>
         <xs:element type="PRPA_MT090101UK14.PatientCareProvision" minOccurs="1" maxOccurs="1" name="patientCareProvision"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="SBJ"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.PatientCareProvision">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="PRPA_MT090101UK14.ResponsibleParty" minOccurs="1" maxOccurs="1" name="responsibleParty"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="PCPR"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.ResponsibleParty">
      <xs:sequence>
         <xs:element type="PRPA_MT090101UK14.HealthCareProvider" minOccurs="1" maxOccurs="1" name="healthCareProvider"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="RESP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.HealthCareProvider">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="LicensedEntity"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="PROV"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.Subject2">
      <xs:sequence>
         <xs:element type="PRPA_MT090101UK14.DeathNotification" minOccurs="1" maxOccurs="1" name="deathNotification"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="SBJ"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.DeathNotification">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.Subject3">
      <xs:sequence>
         <xs:element type="PRPA_MT090101UK14.Consent" minOccurs="1" maxOccurs="1" name="consent"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="SBJ"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.Consent">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element type="PRPA_MT090101UK14.PertinentInformation2" minOccurs="0" maxOccurs="1" name="pertinentInformation"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.PertinentInformation2">
      <xs:sequence>
         <xs:element type="PRPA_MT090101UK14.SupplementaryComments" minOccurs="1" maxOccurs="1" name="pertinentSupplementaryComments"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.SupplementaryComments">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.PertinentInformation">
      <xs:sequence>
         <xs:element type="PRPA_MT090101UK14.SerialChangeNumber" minOccurs="1" maxOccurs="1" name="pertinentSerialChangeNumber"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT090101UK14.SerialChangeNumber">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="INT" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
</xs:schema>